{% extends 'base.html' %}
{% block 'content' %}
<h2>Fixed Assets</h2>
<a class="btn btn-primary mb-2" href="{% url 'asset_create' %}">Register New Asset</a>
<table class="table">
    <thead>
        <tr><th>Tag</th><th>Name</th><th>Category</th><th>Purchase Date</th><th>Disposed?</th><th>Actions</th></tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.asset_tag }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.category }}</td>
            <td>{{ asset.purchase_date }}</td>
            <td>{{ asset.disposed|yesno:"Yes,No"  }}</td>
            <td>
                <a href="{% url 'asset_detail' asset.pk %}" class="btn btn-sm btn-info">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
